[user]
	name = Malick-Tammal
	username = Malick-Tammal
	emain = malick.adamski@gmail.com
	email = malick.adamski@gmail.com

[core] 
	editor = nvim

[color]
    ui = auto

[init]
    defaultBranch = main
